{% import '@OroUI/macros.html.twig' as UI %}
{% import "@OroActivity/macros.html.twig" as AC %}
{% import '@OroUser/macros.html.twig' as U %}

<div class="widget-content form-horizontal box-content row-fluid">
    <div class="responsive-block">
        {# Display contexts targets in the activity list item view #}
        {% if renderContexts is defined and renderContexts %}
            <div class="activity-context-activity-list">
                {{ AC.activity_contexts(entity, target, true) }}
            </div>
        {% endif %}
        {{ UI.renderProperty('oro.task.subject.label'|trans, entity.subject) }}
        {{ UI.renderSwitchableHtmlProperty('oro.task.description.label'|trans, entity.description) }}
        {{ UI.renderProperty('oro.task.due_date.label'|trans, entity.dueDate|oro_format_datetime) }}
        {{ UI.renderProperty('oro.task.task_priority.label'|trans, entity.taskPriority) }}
        {% set ownerData %}
            {% if entity.owner %}
                {{ U.render_user_name(entity.owner) }}
                {{ U.user_business_unit_name(entity.owner) }}
            {% endif %}
        {% endset %}
        {{ UI.renderHtmlProperty('oro.task.owner.label'|trans, ownerData) }}
    </div>
</div>
